---
layout: default
format: frontpage
---

<div id="header-home">
    <!-- Header content goes here -->
</div><!-- /#header-home -->

<div class="row t60">
    <!-- Other content for the front page goes here -->
</div><!-- /.row -->

{% comment %}
*
* Recent blog posts section
*
{% endcomment %}
{% unless site.posts == empty %}
    <div class="row t30 b20 homepage">
        <div class="small-12 columns">
            <!-- Content for recent blog posts goes here -->
        </div><!-- /.small-12.columns -->
    </div><!-- /.row -->
{% endunless %}

{% comment %}
*
* Finally, render the content from the Markdown file
*
{% endcomment %}
<div class="row">
    {{ content }}
</div><!-- /.row -->
