---
layout: default
format: page-fullwidth
---
<div class="row t30">
  <div class="medium-12 columns">
    <article>
      <header>
        {% if page.title %}<h2 class="font-size-h3">{{page.title}}</h2>{% endif %}
        {% if page.subheadline %}<p class="subheadline">{{ page.subheadline }}</p>{% endif %}
      </header>

      {% if page.teaser %}
      <p class="teaser">
        {{ page.teaser }}
      </p>
      {% endif %}

    </article>
  </div><!-- /.medium-12.columns -->
</div><!-- /.row -->

{% if page.image.title %}
<div class="row t30">
  <div class="medium-12 columns">
    <img src="{{ site.urlimg }}{{ page.image.title }}" alt="{{ page.title | escape_once }}">
    {% if page.image.caption_url and page.image.caption %}
    <p class="text-left caption">
      <a href="{{ page.image.caption_url }}">{{ page.image.caption }}</a>
    </p>
    {% endif %}
  </div><!-- /.small-12.columns -->
</div><!-- /.row -->
{% endif %}

{{ content }}
